[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Josh Werlein
	email = jwerlein2@student.cvtc.edu
[core]
	autocrlf = true
	editor = code --wait
[init]
	defaultBranch = main
[safe]
	directory = C:/Users/Jwerl
